html {
  font-family: 'Lato', regular;
  background-color: #eee9de;
  color: #333;
  line-height: 1.5;
  box-sizing: border-box;
  vertical-align: middle;
}

h2 {
  font-family: 'Lato', bold;
  margin: 1.5rem;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 2em;
}

img {
  display: inline-block;
  width: auto;
}

section {
  display: block;
}
ß
p {
  display: inline-block;
  margin: 1.5rem;
  width: auto;
  text-align: left;
}

.btn {
  margin: 1.5rem;
  display: inline-block;
  border-radius: 6px;
  border: 3px solid #333;
  list-style-type: none;
  padding: .4em .75em .5em;
  text-decoration: none;
  color: #333;
  text-align: center;
}

a:hover {
  background-color: #666;
  color: #fff;
}
